$black: #222426;
:root {
  --hero-postcode-color: #ffeac3;
  --hero-splitter-width: 0;
  --color-neutral-200: #e6e8ea;
  --color-neutral-300: #ccd1d6;
  // --color-neutral-900: #172c42;
  --color-neutral-white: #ffffff;
  // --color-neutral-grey: #00000080;
  //   --brand-red-800: #cf230c;
  --brand-red-800: #f12000;
  --brand-red-500: #ef5844;
  --brand-red-400: #f38172;
  --brand-red-200: #fbd4d0;
  --brand-red-100: #fce9e7;
  --brand-navy-900: #172c42;
  --brand-navy-800: #213f5f;
  --brand-navy-700: #2e5884;
  --brand-navy-600: #3b71aa;
  --brand-navy-200: #cee0f3;
  --brand-blue-900: #083093;
  --brand-blue-700: #015ac8;
  --brand-blue-500: #3a94ed;
  --brand-blue-100: #e7f0fb;
  --brand-green-700: #00a878;
  --brand-grey-700: #505d6d;
  --brand-grey-600: #667483;
  --brand-grey-500: #808b98;
  --brand-grey-200: #e6e8ea;
  --brand-grey-50: #f6f7f8;
  --whatsapp: rgb(37, 211, 102);
  --hero-border-radius: 0.9rem;
  --magnifying-glass-icon-url: url(~@/static/magnifying-glass.svg);
}
